[tool.poetry]
name = "hacktoberfest-labeler-action"
version = "2.3.0"
description = "A Github Action to automate Hacktoberfest"
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["github", "actions", "hacktoberfest"]
repository = "https://github.com/browniebroke/hacktoberfest-labeler-action"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development"
]
packages = [
    { include = "app.py", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.8"
environs = "^9.2"
PyGithub = "^1.53"

[tool.poetry.group.dev.dependencies]

[tool.semantic_release]
branch = "main"
version_toml = ["pyproject.toml:tool.poetry.version"]
version_variable = "src/__init__.py:__version__"
build_command = "pip install poetry && poetry build"
upload_to_pypi = false
upload_to_release = false

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=src"

[tool.isort]
profile = "black"
known_first_party = ["tests", "src"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
